/* _dropdown.css */

@layer components {
    .hs-dropdown-menu {
        @apply bg-card border border-solid border-default-300 hs-dropdown-open:opacity-100 z-30 mt-2;
        @apply hidden min-w-44 rounded text-wrap p-1 opacity-0 shadow transition-all;
        transition-property: opacity, margin;
    }

    .dropdown-item {
        @apply text-body-color hover:bg-default-100 flex w-full cursor-pointer items-center gap-3 rounded-[calc(var(--radius)*0.5)] px-3.75 py-1.5 transition-all;

        &.active {
            @apply bg-default-100;
        }
    }

    .dropdown-divider {
        @apply border-transparent overflow-hidden border-t border-t-default-300 -mx-1 !my-1;
    }

    .\[--trigger\:hover\] .hs-dropdown-menu {
        @apply before:absolute before:start-0 before:-top-4 before:h-4 before:w-full after:absolute after:start-0 after:-bottom-4 after:h-4 after:w-full;
    }
}