/* _progress.css */

@keyframes strip {
    0% {
        background-position-x: 1rem;
    }
}

.animate-strip {
    animation: strip 1s linear infinite;
}

.progress-striped {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, 0.15) 0, hsla(0, 0%, 100%, 0.15) 75%, transparent 0, transparent);
    background-size: 1rem 1rem;
}

@keyframes progress-stripes {
        0% {
            background-position: 1rem 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .animate-progress-stripes {
        animation: progress-stripes 1s linear infinite;
    }