/* _widgets.css */


/* Card Calendar */
.card-calendar-widget {
    +.flatpickr-calendar {
        display: block;
        width: 100%;
        box-shadow: none;
        border-style: dashed;

        .flatpickr-innerContainer {
            justify-content: center;
        }

        .flatpickr-weekdays {
            margin: 10px 0;
        }

        .flatpickr-days {
            margin-bottom: 10px;
        }

        .dayContainer,
        .flatpickr-days {
            width: 100%;
            min-width: 100%;
        }

        .flatpickr-months {
            margin-top: 10px;

            .flatpickr-prev-month,
            .flatpickr-next-month {
                top: 10px;
            }

            .flatpickr-prev-month {
                @apply start-2.5;
            }

            .flatpickr-next-month {
                @apply end-2.5;
            }
        }
    }
}