html[data-skin="crystal"] {

    --font-body: "Cabin", sans-serif;
    --font-secondary: "Cabin", sans-serif;

    --text-body: 14px;
    --color-body-bg: #fcfdff;

    --color-card: #ffffff;

    --color-primary: #2C5784;
    --color-primary-hover: #214163;

    --color-secondary: #568F87;
    --color-secondary-hover: #416b65;

    --color-success: #49bf88;
    --color-success-hover: #378f66;

    --color-info: #78c3de;
    --color-info-hover: #5a92a7;

    --color-warning: #f9c271;
    --color-warning-hover: #bb9255;

    --color-danger: #e68879;
    --color-danger-hover: #ad665b;

    --color-default-300: #e5eaf1;

    --shadow: 0 2px 5px rgba(57, 62, 80, 0.05);

    --text-sm: 13px;
    --text-base: 15px;

    --radius: 8px;

    --font-weight-medium: 500;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;

    /* Menu items */
    --sidenav-item-icon-size: 1.125rem;
    --sidenav-item-gap: 10px;
    --sidenav-item-padding-x: 18px;
    --sidenav-item-padding-y: 9px;
    --sidenav-item-font-size: 14px;
    --sidenav-item-font-weight: 500;

    /* Sub Menu Items */
    --sidenav-sub-item-font-size: 14px;
    --sidenav-sub-item-font-weight: 400;
    --sidenav-sub-item-gap: 4px;
    --sidenav-sub-item-padding-x: 10px;
    --sidenav-sub-item-padding-y: 7px;

    /* Light left-sidebar */
    &[data-menu-color='light'] {
        --sidenav-bg: #ffffff;
        --sidenav-border-color: #edf4ff;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #2C5784;
        --sidenav-item-hover-bg: #eff1fc;
        --sidenav-item-active-color: #2C5784;
        --sidenav-item-active-bg: #eff1fc;
    }

    /* Gray left-sidebar */
    &[data-menu-color='gray'] {
        --sidenav-bg: #f6f7fb;
        --sidenav-border-color: #f6f7fb;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #2C5784;
        --sidenav-item-hover-bg: #eaecf3;
        --sidenav-item-active-color: #212b29;
        --sidenav-item-active-bg: #eaecf3;
    }

    /* Dark Left Sidebar */
    &[data-menu-color='dark'] {
        --sidenav-bg: #373e46;
        --sidenav-border-color: #373e46;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #3d444c;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #3d444c;
    }

    /* Gradient Menu */
    &[data-menu-color='gradient'] {
        --sidenav-bg: linear-gradient(to right, #1f3f60, #2e3758);
        --sidenav-border-color: null;
        --sidenav-item-color: #6d86a3;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Image Menu */
    &[data-menu-color='image'] {
        --sidenav-bg: linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repea;
        --sidenav-border-color: null;
        --sidenav-item-color: #799cb7;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Dark Mode */
    &[data-theme='dark'][data-menu-color='dark'],
    &[data-theme='dark'][data-menu-color='gray'],
    &[data-theme='dark'][data-menu-color='light'] {
        --sidenav-bg: #1e1f27;
        --sidenav-border-color: #2c2d38;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #22232c;
    }

    /* Light Topbar */
    &[data-topbar-color='light'] {
        --topbar-bg: #ffffff;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #2C5784;
        --topbar-search-bg: transparent;
        --topbar-search-border: #e7e9eb;
    }

    /* Gray Topbar */
    &[data-topbar-color='gray'] {
        --topbar-bg: #f6f7fb;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #2C5784;
        --topbar-search-bg: #eceef5;
        --topbar-search-border: #eceef5;
    }

    /* Dark Topbar */
    &[data-topbar-color='dark'] {
        --topbar-bg: #373e46;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #3f4751;
        --topbar-search-border: #3f4751;
    }

    /* Gradient Topbar */
    &[data-topbar-color='gradient'] {
        --topbar-bg: linear-gradient(to bottom, #224262, #345864);
        --topbar-item-color: rgba(255, 255, 255, 0.7);
        --topbar-item-hover-color: #ffffff;
        --topbar-search-bg: rgba(255, 255, 255, 0.1);
        --topbar-search-border: rgba(255, 255, 255, 0.1);
    }

    /* Topbar (Dark Mode) */
    &[data-theme='dark'][data-topbar-color='dark'],
    &[data-theme='dark'][data-topbar-color='light'],
    &[data-theme='dark'][data-topbar-color='gray'] {
        --topbar-bg: #252630;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2d2e3c;
        --topbar-search-border: #2d2e3c;
    }


    /* Chart Colors */
    --color-chart-primary: #2C5784;
    --color-chart-secondary: #568F87;
    --color-chart-alpha: #f9c271;
    --color-chart-beta: #e68879;
    --color-chart-gamma: #78c3de;
    --color-chart-delta: #49bf88;
    --color-chart-zeta: #6070cc;
    --color-chart-gray: #edeff3;
    --color-chart-dark: #396699;
    --color-chart-border-color: #ecf4fc;
    --color-chart-title-color: #bbcae1;
}

/* Crystal Theme */
html[data-skin='crystal'] {

    .pro-username {
        font-size: 13px;
        font-weight: 700;
    }

    .app-header {
        border-bottom: 1px solid var(--color-default-300);
    }

    .card {

        border: 1px solid var(--color-default-300);

        .card-header {
            @apply bg-light/50;
        }

        .card-title {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .nav-link.active {
        background-color: transparent !important;
    }

    .side-nav>.menu-item>.menu-link.active {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(44, 87, 132, 0.1));
    }
}

html[data-skin='crystal'][data-theme='dark'] {
    --color-body-bg: #17181e;

    --color-card: #1b1c22;

    --shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

    --color-default-100: #252630;
    --color-default-300: #293036;

    --color-chart-gray: #40424f;

    .card {
        border: 1px solid #293036;
    }

    .card,
    .hs-dropdown-menu,
    .btn,
    .form-select,
    .form-input {
        border-width: 1px !important;
    }
}