html[data-skin="orbit"] {

    --font-body: "Supreme", sans-serif;
    --font-secondary: "Supreme", sans-serif;

    --text-body: 14px;
    --color-body-bg: #f3f6f9;

    --color-card: #ffffff;

    --color-primary: #39379e;
    --color-primary-hover: #2b2977;

    --color-secondary: #888fdf;
    --color-secondary-hover: #666ba7;

    --color-success: #57b78a;
    --color-success-hover: #418968;

    --color-info: #7fd1cd;
    --color-info-hover: #5f9d9a;

    --color-warning: #e6a66f;
    --color-warning-hover: #ad7d53;

    --color-danger: #fb764a;
    --color-danger-hover: #bc5938;

    --color-default-300: #e5eaf1;

    --shadow: 0 2px 4px rgba(56, 65, 74, 0.2);

    --radius: 6px;

    --font-weight-medium: 500;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;

    /* Menu items */
    --sidenav-item-icon-size: 1rem;
    --sidenav-item-gap: 10px;
    --sidenav-item-padding-x: 12px;
    --sidenav-item-padding-y: 9px;
    --sidenav-item-font-size: 14px;
    --sidenav-item-font-weight: 500;

    /* Sub Menu Items */
    --sidenav-sub-item-font-size: 14px;
    --sidenav-sub-item-font-weight: 400;
    --sidenav-sub-item-gap: 4px;
    --sidenav-sub-item-padding-x: 10px;
    --sidenav-sub-item-padding-y: 7px;

    /* Light left-sidebar */
    &[data-menu-color='light'] {
        --sidenav-bg: white;
        --sidenav-border-color: #ffffff;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #39379e;
        --sidenav-item-hover-bg: #eff1fc;
        --sidenav-item-active-color: #39379e;
        --sidenav-item-active-bg: #eff1fc;
    }

    /* Gray left-sidebar */
    &[data-menu-color='gray'] {
        --sidenav-bg: #f6f7fb;
        --sidenav-border-color: #f6f7fb;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #39379e;
        --sidenav-item-hover-bg: #eaecf3;
        --sidenav-item-active-color: #212b29;
        --sidenav-item-active-bg: #eaecf3;
    }

    /* Dark Left Sidebar */
    &[data-menu-color='dark'] {
        --sidenav-bg: #2b3845;
        --sidenav-border-color: #2b3845;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #34404d;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #34404d;
    }

    /* Gradient Menu */
    &[data-menu-color='gradient'] {
        --sidenav-bg: linear-gradient(to right, #2d2c70, #5f7191);
        --sidenav-border-color: null;
        --sidenav-item-color: #9ba0c9;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Image Menu */
    &[data-menu-color='image'] {
        --sidenav-bg: linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repeat;
        --sidenav-border-color: null;
        --sidenav-item-color: #799cb7;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Dark Mode */
    &[data-theme='dark'][data-menu-color='dark'],
    &[data-theme='dark'][data-menu-color='gray'],
    &[data-theme='dark'][data-menu-color='light'] {
        --sidenav-bg: #1e1f27;
        --sidenav-border-color: #2c2d38;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #22232c;
    }

    /* Light Topbar */
    &[data-topbar-color='light'] {
        --topbar-bg: #ffffff;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #39379e;
        --topbar-search-bg: #f3f6f9;
        --topbar-search-border: #f3f6f9;
    }

    /* Gray Topbar */
    &[data-topbar-color='gray'] {
        --topbar-bg: #f6f7fb;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #39379e;
        --topbar-search-bg: #eceef5;
        --topbar-search-border: #eceef5;
    }

    /* Dark Topbar */
    &[data-topbar-color='dark'] {
        --topbar-bg: #25313d;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #313f4c;
        --topbar-search-border: #313f4c;
    }

    /* Gradient Topbar */
    &[data-topbar-color='gradient'] {
        --topbar-bg: linear-gradient(to bottom, #3d4888, #52588e);
        --topbar-item-color: rgba(255, 255, 255, 0.7);
        --topbar-item-hover-color: #ffffff;
        --topbar-search-bg: rgba(255, 255, 255, 0.1);
        --topbar-search-border: rgba(255, 255, 255, 0.1);
    }

    /* Topbar (Dark Mode) */
    &[data-theme='dark'][data-topbar-color='dark'],
    &[data-theme='dark'][data-topbar-color='light'],
    &[data-theme='dark'][data-topbar-color='gray'] {
        --topbar-bg: #252630;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2d2e3c;
        --topbar-search-border: #2d2e3c;
    }

    /* Chart Colors */
    --color-chart-primary: #57b78a;
    --color-chart-secondary: #7fd1cd;
    --color-chart-alpha: #39379e;
    --color-chart-beta: #fb764a;
    --color-chart-gamma: #e6a66f;
    --color-chart-delta: #888fdf;
    --color-chart-zeta: #6070cc;
    --color-chart-gray: #edeff3;
    --color-chart-dark: #396699;
    --color-chart-border-color: #ecf4fc;
    --color-chart-title-color: #bbcae1;
}

/* Orbit Theme */
html[data-skin='orbit'] {

    .pro-username,
    th {
        font-weight: 600;
    }

    .app-header {
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    }

    @layer components {
        .app-header {

            .form-input {
                border-radius: 6px !important;
            }
        }
    }

    .card {

        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);

        .card-title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }


    .btn,
    .side-nav>.menu-item>.menu-link.active {
        position: relative;
        overflow: hidden;

        &::before {
            border-radius: 100%;
            display: block;
            content: "";
            animation: ripple 1s linear infinite;
        }

        .menu-icon {
            margin-inline-start: calc(var(--sidenav-item-gap) * -1);
        }
    }


    .btn {
        &::before {
            @apply -ms-2 translate-x-2;
        }
    }

    .app-header {
        .topbar-item {
            .topbar-link {
                &.btn {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    #user-dropdown-detailed {
        background-color: var(--topbar-search-bg);
        outline-style: solid;
        outline-color: var(--topbar-bg);
        outline-offset: -4px;
        border-radius: 6px;

        &::before {
            display: none;
        }
    }

    &[data-topbar-color="gradient"] {
        .nav-user {
            outline-color: rgba(255, 255, 255, 0.05);
        }
    }

    &[data-menu-color="light"]:not([data-theme="dark"]),
    &[data-menu-color="gray"]:not([data-theme="dark"]) {
        .side-nav>.menu-item>.menu-link.active {
            &::before {
                animation: rippleDark 1s linear infinite;
            }
        }
    }

}

html[data-skin='orbit'][data-theme='dark'] {
    --color-body-bg: #17181e;

    --color-card: #1b1c22;

    --shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

    --color-default-100: #252630;
    --color-default-300: #293036;

    --color-chart-gray: #40424f;

    .card {
        border: 1px solid #293036;
    }

    .card,
    .hs-dropdown-menu,
    .btn,
    .form-select,
    .form-input {
        border-width: 1px !important;
    }


}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 20px color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 40px color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 60px color-mix(in oklab, var(--color-body-bg) 10%, transparent);
    }

    100% {
        box-shadow: 0 0 0 20px color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 40px color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 60px color-mix(in oklab, var(--color-body-bg) 10%, transparent), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}


@keyframes rippleDark {
    0% {
        box-shadow: 0 0 0 0 color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 20px color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 40px color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 60px color-mix(in oklab, var(--color-dark) 5%, transparent);
    }

    100% {
        box-shadow: 0 0 0 20px color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 40px color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 60px color-mix(in oklab, var(--color-dark) 5%, transparent), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}