html[data-skin="soft"] {

    --font-body: "Open Sans", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --text-body: 13px;
    --color-body-bg: #f1f2f7;

    --color-card: #ffffff;

    --color-primary: #8196e0;
    --color-primary-hover: #6171a8;

    --color-secondary: #8d82c0;
    --color-secondary-hover: #6a6290;

    --color-success: #70c79b;
    --color-success-hover: #549574;

    --color-info: #7fcad1;
    --color-info-hover: #5f989d;

    --color-warning: #e6b96f;
    --color-warning-hover: #ad8b53;

    --color-danger: #e28a8a;
    --color-danger-hover: #aa6868;

    --shadow: 0 2px 4px rgba(56, 65, 74, 0.2);

    --color-default-300: #e1e7ef;

    --text-sm: 13px;

    --radius: 6px;

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Menu items */
    --sidenav-item-icon-size: 1rem;
    --sidenav-item-gap: 10px;
    --sidenav-item-padding-x: 12px;
    --sidenav-item-padding-y: 9px;
    --sidenav-item-font-size: 14px;
    --sidenav-item-font-weight: 500;

    /* Sub Menu Items */
    --sidenav-sub-item-font-size: 13px;
    --sidenav-sub-item-font-weight: 500;
    --sidenav-sub-item-gap: 4px;
    --sidenav-sub-item-padding-x: 10px;
    --sidenav-sub-item-padding-y: 7px;

    /* Light left-sidebar */
    &[data-menu-color='light'] {
        --sidenav-bg: white;
        --sidenav-border-color: #ffffff;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #8196e0;
        --sidenav-item-hover-bg: #eff1fc;
        --sidenav-item-active-color: #8196e0;
        --sidenav-item-active-bg: #eff1fc;
    }

    /* Gray left-sidebar */
    &[data-menu-color='gray'] {
        --sidenav-bg: #f6f7fb;
        --sidenav-border-color: #f6f7fb;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #8196e0;
        --sidenav-item-hover-bg: #eaecf3;
        --sidenav-item-active-color: #212b29;
        --sidenav-item-active-bg: #eaecf3;
    }

    /* Dark Left Sidebar */
    &[data-menu-color='dark'] {
        --sidenav-bg: #25313d;
        --sidenav-border-color: #25313d;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #34404d;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #34404d;
    }

    /* Gradient Menu */
    &[data-menu-color='gradient'] {
        --sidenav-bg: linear-gradient(to right, #3d4888, #52588e);
        --sidenav-border-color: null;
        --sidenav-item-color: #9ba0c9;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Image Menu */
    &[data-menu-color='image'] {
        --sidenav-bg: linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repeat;
        --sidenav-border-color: null;
        --sidenav-item-color: #799cb7;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Dark Mode */
    &[data-theme='dark'][data-menu-color='dark'],
    &[data-theme='dark'][data-menu-color='gray'],
    &[data-theme='dark'][data-menu-color='light'] {
        --sidenav-bg: #1e1f27;
        --sidenav-border-color: #2c2d38;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #22232c;
    }

    /* Light Topbar */
    &[data-topbar-color='light'] {
        --topbar-bg: #ffffff;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #8196e0;
        --topbar-search-bg: transparent;
        --topbar-search-border: #e7e9eb;
    }

    /* Gray Topbar */
    &[data-topbar-color='gray'] {
        --topbar-bg: #f6f7fb;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #8196e0;
        --topbar-search-bg: #eceef5;
        --topbar-search-border: #eceef5;
    }

    /* Dark Topbar */
    &[data-topbar-color='dark'] {
        --topbar-bg: #25313d;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #313f4c;
        --topbar-search-border: #313f4c;
    }

    /* Gradient Topbar */
    &[data-topbar-color='gradient'] {
        --topbar-bg: linear-gradient(to bottom, #3d4888, #52588e);
        --topbar-item-color: rgba(255, 255, 255, 0.7);
        --topbar-item-hover-color: #ffffff;
        --topbar-search-bg: rgba(255, 255, 255, 0.1);
        --topbar-search-border: rgba(255, 255, 255, 0.1);
    }

    /* Topbar (Dark Mode) */
    &[data-theme='dark'][data-topbar-color='dark'],
    &[data-theme='dark'][data-topbar-color='light'],
    &[data-theme='dark'][data-topbar-color='gray'] {
        --topbar-bg: #252630;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2d2e3c;
        --topbar-search-border: #2d2e3c;
    }


    /* Chart Colors */
    --color-chart-primary: #8196e0;
    --color-chart-secondary: #8d82c0;
    --color-chart-alpha: #70c79b;
    --color-chart-beta: #e28a8a;
    --color-chart-gamma: #e6b96f;
    --color-chart-delta: #7fcad1;
    --color-chart-zeta: #6070cc;
    --color-chart-gray: #edeff3;
    --color-chart-dark: #396699;
    --color-chart-border-color: #ecf4fc;
    --color-chart-title-color: #bbcae1;

}

html[data-theme="dark"][data-skin="soft"] {
    --color-body-bg: #17181e;

    --color-card: #1b1c22;

    --color-light: #252630;

    --shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

    --color-default-100: #252630;
    --color-default-300: #293036;


    .card,
    .hs-dropdown-menu {
        border: 1px solid var(--color-default-300) !important;
    }

    .hs-dropdown-menu {
        background-color: #1b1c22;
    }

}



/* soft Theme */
html[data-skin='soft'] {


    .card,
    .app-header {
        box-shadow: none;
    }

    .pro-username {
        font-size: 13px;
        font-weight: 700;
    }

    .app-header {
        @apply border-b border-default-300;
    }

    .app-menu {
        @apply border-e border-default-300;
    }

    .card {
        border: 1px solid var(--color-default-300);

        .card-title {
            font-weight: 600;
        }
    }
}