html[data-skin="xenon"] {

    --font-body: "IBM Plex Mono", sans-serif;
    --font-secondary: "IBM Plex Mono", sans-serif;

    --text-body: 13px;
    --color-body-bg: #f4f6f9;

    --color-card: #ffffff;

    --color-primary: #2D3C59;
    --color-primary-hover: #222d43;

    --color-secondary: #1D546D;
    --color-secondary-hover: #163f52;

    --color-success: #5F9598;
    --color-success-hover: #477072;

    --color-info: #3F9AAE;
    --color-info-hover: #2f7483;

    --color-warning: #D97D55;
    --color-warning-hover: #a35e40;

    --color-danger: #D34E4E;
    --color-danger-hover: #9e3b3b;

    --shadow: 0 1px 3px rgba(57, 62, 80, 0.2);

    --text-sm: 13px;

    --spacing-base: 0.5rem;

    --font-weight-medium: 600;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;


    /* Menu items */
    --sidenav-item-icon-size: 1rem;
    --sidenav-item-gap: 10px;
    --sidenav-item-padding-x: 12px;
    --sidenav-item-padding-y: 10px;
    --sidenav-item-font-size: 13px;
    --sidenav-item-font-weight: 500;

    /* Sub Menu Items */
    --sidenav-sub-item-font-size: 13px;
    --sidenav-sub-item-font-weight: 400;
    --sidenav-sub-item-gap: 4px;
    --sidenav-sub-item-padding-x: 10px;
    --sidenav-sub-item-padding-y: 7px;

    /* Light left-sidebar */
    &[data-menu-color='light'] {
        --sidenav-bg: white;
        --sidenav-border-color: #edf2f9;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #2D3C59;
        --sidenav-item-hover-bg: #f4f6f9;
        --sidenav-item-active-color: #2D3C59;
        --sidenav-item-active-bg: #f4f6f9;
    }

    /* Gray left-sidebar */
    &[data-menu-color='gray'] {
        --sidenav-bg: #e4e9f1;
        --sidenav-border-color: #e4e9f1;
        --sidenav-item-color: var(--color-default-700);
        --sidenav-item-hover-color: #212b29;
        --sidenav-item-hover-bg: #dadfe5;
        --sidenav-item-active-color: #212b29;
        --sidenav-item-active-bg: #dadfe5;
    }

    /* Dark Left Sidebar */
    &[data-menu-color='dark'] {
        --sidenav-bg: #061E29;
        --sidenav-border-color: #061E29;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: rgba(255, 255, 255, .05);
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: rgba(255, 255, 255, .05);
    }

    /* Gradient Menu */
    &[data-menu-color='gradient'] {
        --sidenav-bg: linear-gradient(to right, #2d3c59, #1d546d);
        --sidenav-border-color: null;
        --sidenav-item-color: #7386a3;
        --sidenav-item-hover-color: #b3c9eb;
        --sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Image Menu */
    &[data-menu-color='image'] {
        --sidenav-bg: linear-gradient(to bottom right, rgba(16, 16, 30, 0.85), #183c52), url('/public/images/sidenav-bg.jpg') center/cover no-repeat;
        --sidenav-border-color: null;
        --sidenav-item-color: #799cb7;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #cfdff1;
        --sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
    }

    /* Dark Mode */
    &[data-theme='dark'][data-menu-color='dark'],
    &[data-theme='dark'][data-menu-color='gray'],
    &[data-theme='dark'][data-menu-color='light'] {
        --sidenav-bg: #1e1f27;
        --sidenav-border-color: #2c2d38;
        --sidenav-item-color: #8495ab;
        --sidenav-item-hover-color: #bccee4;
        --sidenav-item-hover-bg: #2f3742;
        --sidenav-item-active-color: #ced6df;
        --sidenav-item-active-bg: #22232c;
    }

    /* Light Topbar */
    &[data-topbar-color='light'] {
        --topbar-bg: #ffffff;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #2D3C59;
        --topbar-search-bg: transparent;
        --topbar-search-border: #e7e9eb;
    }

    /* Gray Topbar */
    &[data-topbar-color='gray'] {
        --topbar-bg: #f2f2f2;
        --topbar-item-color: var(--color-default-700);
        --topbar-item-hover-color: #2D3C59;
        --topbar-search-bg: #e4e6ed;
        --topbar-search-border: #e4e6ed;
    }

    /* Dark Topbar */
    &[data-topbar-color='dark'] {
        --topbar-bg: #354152;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2c3849;
        --topbar-search-border: #2c3849;
    }

    /* Gradient Topbar */
    &[data-topbar-color='gradient'] {
        --topbar-bg: linear-gradient(to bottom, #2d3c59, #1d546d);
        --topbar-item-color: #a7b8d1;
        --topbar-item-hover-color: #ffffff;
        --topbar-search-bg: rgba(255, 255, 255, 0.1);
        --topbar-search-border: rgba(255, 255, 255, 0.1);
    }

    /* Topbar (Dark Mode) */
    &[data-theme='dark'][data-topbar-color='dark'],
    &[data-theme='dark'][data-topbar-color='light'],
    &[data-theme='dark'][data-topbar-color='gray'] {
        --topbar-bg: #252630;
        --topbar-item-color: #adb5bf;
        --topbar-item-hover-color: #e0eeff;
        --topbar-search-bg: #2d2e3c;
        --topbar-search-border: #2d2e3c;
    }


    /* Chart Colors */
    --color-chart-primary: #2D3C59;
    --color-chart-secondary: #D97D55;
    --color-chart-alpha: #5F9598;
    --color-chart-beta: #D34E4E;
    --color-chart-gamma: #1D546D;
    --color-chart-delta: #3F9AAE;
    --color-chart-zeta: #6070cc;
    --color-chart-gray: #edeff3;
    --color-chart-dark: #396699;
    --color-chart-border-color: #ecf4fc;
    --color-chart-title-color: #bbcae1;
}


/* xenon Theme */
html[data-skin='xenon'] {

    .page-content main {
        @apply px-3.5;
    }

    .card {
        box-shadow: none;

        .card-title {
            font-weight: 700;
        }
    }

    .btn {
        font-weight: var(--font-weight-normal);
    }

    .app-header {
        box-shadow: none;

        &.topbar-active {
            box-shadow: var(--shadow-sm);
        }
    }

    .sidenav-menu {
        box-shadow: none;
        border-right: 1px solid var(--sidenav-border-color);
    }

    .page-title-head {
        height: 50px;
    }

    .footer {
        background-color: transparent;
        border: none;
        padding: 0 .5rem .5rem .5rem;
    }

    /* Extra CSS */
    &[data-theme='dark'] {

        --color-body-bg: #17181e;
        --color-card: #1b1c22;

        --shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

        --color-default-300: #293036;

        --color-chart-primary: #456882;
        --color-chart-gray: #40424f;

        --color-primary: #456882;
        --color-primary-hover: #344e62;

        .card,
        .hs-dropdown-menu {
            border: 1px solid var(--color-default-300) !important;
        }
    }
}

html[data-skin='xenon'][data-menu-color='light'][data-topbar-color='dark'],
html[data-skin='xenon'][data-menu-color='light'][data-topbar-color='gradient'] {
    .app-haeder {
        border-radius: 0;
    }

    .app-menu {

        &::before {
            display: none;
        }
    }
}

html[data-skin='xenon'][dir='rtl'] {
    .app-menu {
        &::before {
            transform: rotate(-90deg);
        }

        &::after {
            transform: rotate(90deg);
        }
    }
}